@{
    ViewData["Title"] = "Главная страница";
}
<section class="index-info">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-margin">
                <div class="index-info-content">
                    <div class="avatar-i">СТИКЕР</div>
                    <div class="title-i">СТРАХОВАНИЕ КРЕДИТА</div>
                    <div class="desc-i">
                        Мы предлагаем клиентам вариант страхования кредита. Вы можете выбрать один из 3-х вариантов страхования.
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-md-margin">
                <div class="index-info-content">
                    <div class="avatar-i">СТИКЕР</div>
                    <div class="title-i">НИКАКИХ СКРЫТЫХ ПЛАТЕЖЕЙ</div>
                    <div class="desc-i">
                        Все действия, связанные с кредитом, бесплатны : оформление кредита, управление кредитом, электронные отчеты...
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="index-info-content">
                    <div class="avatar-i">СТИКЕР</div>
                    <div class="title-i">ОЦЕНКА</div>
                    <div class="desc-i">
                        Доказательством качества наших услуг являются награды в конкурсах «Золотая крона» , «Люди в беде » или «Лучшее обслуживание клиентов».
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="index-info2">
    <div class="title-section">Все о наших кредитах</div>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-margin">
                <div class="index-i2-content">
                    <div class="title-i2">Условия получения кредита</div>
                    <div class="desc-i2">
                        Вас интересуют условия получения кредита. Чтобы получить кредит, вы должны быть старше 18 лет и иметь подтвержденный доход. Подробнее читайте прямо на нашем сайте.
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-md-margin">
                <div class="index-i2-content index-i2-center">
                    <div class="title-i2">Ход оформления кредита</div>
                    <div class="desc-i2">
                        Вас интересуют условия и процесс оформления кредита. Вы можете легко оформить кредит в нашем сайте онлайн. Пройдите весь процесс оформления кредита на нашем сайте.
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="index-i2-content">
                    <div class="title-i2">Информация о выписках по счетам</div>
                    <div class="desc-i2">
                        Мы отправляем выписки из кредитов каждый месяц по почте или в электронном виде на ваш почтовый ящик.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="end">
    <div class="container">
        <div class="row">
            <div class="button-content-center">
                <a href="/@nameof(LoginController)[..^10]" class="button-classic button-green">За деньгами</a>
            </div>
        </div>
    </div>
</section>